<% include partials/header %>

<div class = "container-fluid">
    <div class ="row">
        <div class="col">
                <h4><%= bands.name %></h4>
                <h4><%= bands.description %></h4>
                <h4><%= bands.phone %></h4>
                <h4><%= bands.email %></h4>
                <h4><%= bands.genre %></h4>
                <h4><%= bands.location.street %></h4>
                <h4><%= bands.location.city %></h4>
                <h4><%= bands.location.state %></h4>
        </div>

        <button>Request a Quote</button>
    </div>
</div>

<% include partials/footer %>
